<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Budget Grocery App | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style-jrb.css' />
  </head>
  <body class="body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
  	  <div class="container">
  		<div class="navbar-header">
  		  <a href="#" class="navbar-brand">RE Grocery List | Home</a>
  		  <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  		  </a>
  		</div>
  		<div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
    			<!-- <li><a href="/grocery">Login</a></li> -->
          <li><a href="/user/profile">Login</a></li>
          <li><a href="/user/register">Register</a></li>
        </ul>
  		</div>
  	   </div>
  	</nav>
    <div>
      <p> <br><br> </p>
    </div>
    <div class=lg-col-12>
      <form method="POST" action="/user/login" id="loginForm">
        <div class="login-form"><br>
          <h2>Login to your Grocery Calculator</h2>
          <p>Please log in below or  <a href="/user/register">register</a> for a new account</p><br>
        </div>
        <div class="formfield">
          <div class="formfield--prompt">Username:</div>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="formfield">
          <div class="formfield--prompt">Password:</div>
          <input type="password" id="password" name="password" required>
        </div>
        <input class="submitButton" type="submit" value="Login"></input>
      </form>
    </div>
    <!-- script references -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
  </body>
</html>
