<!DOCTYPE html>
<html>
  <head>
    <title>Budget Grocery App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style-jrb.css' />
    <link rel='stylesheet' href='/stylesheets/todo.css' />
  </head>
  <body class="body-background-img">
    <div class="welcome-login">
      <h1>Welcome to your Budget Grocery List</h1><br>
      <h3 class="we-shop">We shop for what is on your list and in your <b>budget</b></h3>
    </div><br><br>

    <div class="please-login">
      <h5>Please log in below or  <a href="/user/register">register</a> for a new account</h5>
    </div><br>


    <form method="POST" action="/user/login" id="loginForm">
      <div class="formfield">
        <div class="formfield--prompt">Username:</div>
        <input type="text" id="username" name="username">
      </div>
      <div class="formfield">
        <div class="formfield--prompt">Password:</div>
        <input type="password" id="password" name="password">
      </div>
      <input class="submitButton" type="submit"></input>
    </form>

  </body>
</html>
