<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style-jrb.css' />
    <link rel='stylesheet' href='/stylesheets/todo.css' />
  </head>
  <body class="body-background-img">

  <div class="welcome-register">
    <h1>Please register</h1>
    <h3>so you can add some new items to your shopping list!</h3>
  </div>


    <form method="POST" action="/user/register" id="registerForm">
      <div class="formfield">
        <div class="formfield--prompt">Username:</div>
        <input type="text" id="username" name="username">
      </div>
      <div class="formfield">
        <div class="formfield--prompt">Password:</div>
        <input type="password" id="password" name="password">
      </div>
      <input class="submitButton" type="submit"></input>
    </form>

  </body>
</html>
