<!DOCTYPE html>
<html>
  <head>
    <title><%= username %> profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style-jrb.css' />
    <link rel='stylesheet' href='/stylesheets/todo.css' />
  </head>
  <body class="body-background-img-userprofile">
    <div class="the-header">
      <a href="/grocery">Add Item</a> | <a href="/grocery/list">Shopping List</a> | <a href="/">Logout</a>
    </div>

    <div class="welcome-profile">
      <div>
          <b>Username:</b> <%= username %>
        </div>
        <div>
          <b>Number of items in the list:</b> <%= groceries.length %>
        </div>
    </div>

  </body>
</html>
