/* --- Fonts selection ---*/
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata);

body {
  padding: 10px 30px;
  font-family: 'Special Elite', cursive;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
  alight: right;
}

.underline{
  text-decoration: underline;
}


.nopadding{
  margin: 0px;
  padding: 0px;
}

div.strikeout {
opacity: 0.3;
}

p{
  text-align: center;
}

.body {
    background: url("/images/Groceries-Banner-Desktop.jpg");
    background-color: #1D3C6A;
    margin: 30px 0 60px;
 }

a {
  color: #00B7FF;
  text-decoration: underline;
  cursor: pointer;
}

.the-header {
  float: left;
  position: fixed;
  margin-top: 0px;
  top: 31px;
}

.welcome-user {
  float: right;
  font-size: 2em;
  position: fixed;
  top: 20px;
  left: 60%;
}

.the-message {
  position: fixed;
  top: 13%;
}

.formfield {
  margin: 20px 0;
}

input + label.error {
  background-color: #A7383E;
  color: #FFE5E7;
  clear: both;
  padding: 3px;
  margin: 0 0 0 10px;
  border: 1px dotted red;
  border-radius: 4px;
}

.actions {
  padding: 10px 0 0 0;
}


.please-login {
  text-align: center;
  background-color: #fff;
  padding: 2px;
  margin: 0 20px 0 20px;
  border-radius: 4px;
}

.welcome-login {
  text-align: center;
}

.welcome-register {
  text-align: center;
}

.welcome-profile {
  font-size: 2em;
  text-align: center;
}

.we-shop {
  font-size: 3.5em;
  font-family: "Reenie Beanie";
}
.mainsection {
  background-color: white;
  opacity: 0.99;
  border-radius: 25px;
}

#loginForm {
  background-color: rgba(54, 25, 25, .085);
}
