@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata);

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

form {
    background: #fff;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1, h2 {
  margin: 10px 0 30px 0;
  text-align: center;
}

#theHeader {
    margin-top: 30px;
    text-align: center;
    font-size: 5em;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="textarea"],
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef; /* #e8eeef; */
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

.submitButton,
.registerButton,
.addBudgetButton,
.shoppingListButton {
  padding: 10px 20px 10px 20px;
  color: #e8eeef;
  background-color: #1D3C6A; /* #900000; */
  text-align: center;
  font-style: normal;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #384047;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-top: 30px;
  margin-bottom: 10px;
}


/******************/

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none
}

input[type="text"],
input[type="password"] {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: 1em;
  padding: .8em .5em;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: #fff
}


/******************/

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

label.error {
  float: right;
  position: relative;
  top: -60px;
  background-color: transparent;
  color: #FF0000;
  border-color: #FF0000;
  font-size: 0.8em;
  margin-right: 4px;
  text-align: center;
}

.register {
  text-align: center;
}

.login-form {
  color: #000;
}


@media screen and (min-width: 320px) {
    form {
        max-width: 320px;
    }
    .body {
      background: url("/images/Groceries-Banner-iPhone.jpg");
    }
}

@media (min-width: 320px) and (max-width: 567px) {
    .body {
      background: url("/images/Groceries-Banner-iPad.jpg");
    }
}

@media (min-width: 568px) {
    .body {
      background: url("/images/Groceries-Banner-Desktop.jpg");
    }
}
