/* --- Fonts selection ---*/
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata);
body {
  padding: 10px 30px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Special Elite', cursive;
}

html {
     background-image: url('/images/grocery-shopping.jpg');
     background-size: 100% 100%;
     background-repeat: no-repeat;
 }

p{
  text-align: center;
}
 .body {
     background-color: transparent;
     opacity: 0.95;
     margin: 30px 0 60px;
 }

.body-background-img {
  color: #000;
  text-align: left;
  padding: 2% 24%;
  margin: 30px 0 60px;
  background: #434a52 url('/images/Groceries-Banner.jpg') center;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-position: right top;
}

.body-background-img-todolist {
  color: #000;
  text-align: left;
  padding: 18% 24%;
  margin: 30px 0 60px;
  background: #434a52 url('/images/Groceries-Banner-Large.jpg') center;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-position: right top;
}

.body-background-img-additem {
  color: #000;
  text-align: left;
  padding: 2% 24%;
  margin: 30px 0 60px;
  background: #434a52 url('/images/Groceries-Banner-Large.jpg') center;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-position: right top;
}

.body-background-img-userprofile {
  color: #000;
  text-align: left;
  margin: 30px 0 60px;
  background: #434a52 url('/images/Groceries-Banner-Large.jpg') center;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-position: right top;
  padding-top: 31%;
  padding-bottom: 31%;
}

a {
  color: #00B7FF;
  text-decoration: underline;
  cursor: pointer;
}

.the-header {
  float: left;
  position: fixed;
  margin-top: 0px;
  top: 31px;
}

.welcome-user {
  float: right;
  font-size: 2em;
  position: fixed;
  top: 20px;
  left: 60%;
}

.the-message {
  position: fixed;
  top: 13%;
}

.formfield {
  margin: 20px 0;
}

input + label.error {
  background-color: #A7383E;
  color: #FFE5E7;
  clear: both;
  padding: 3px;
  margin: 0 0 0 10px;
  border: 1px dotted red;
  border-radius: 4px;
}

.actions {
  padding: 10px 0 0 0;
}

.deleteButton, .submitButton, .editButton {
  margin: 0 10px 0 0;
}

.please-login {
  text-align: center;
  background-color: #fff;
  padding: 2px;
  margin: 0 20px 0 20px;
  border-radius: 4px;
}

.welcome-login {
  text-align: center;
}

.welcome-register {
  text-align: center;
}

.welcome-profile {
  font-size: 2em;
  text-align: center;
}

.we-shop {
  font-size: 3.5em;
  font-family: "Reenie Beanie";
}
