@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter|Rock+Salt|Special+Elite|Nunito|Inconsolata);

.new-todo-item {
  text-align: center;
  font-size: 1em;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: 'Inconsolata', arial;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  width: 95%;
  border: 2px solid #e8eeef;
}

.todo-item {
  max-width: 450px;
  background: #fff; /* #f4f7f8 */
  text-align: left;
  font-size: 1em;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: 'Inconsolata', arial;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  width: 95%;
  border: 2px solid #e8eeef;
}

a {
  font-family: 'Inconsolata', arial;
  font-size: 1em;
  color: #3ac162;
  text-decoration: none;
  cursor: pointer;
}


.editButton {
  color: #0066FF;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  font-family: 'Inconsolata', arial;
}

.deleteButton {
  color: #900000;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  font-family: 'Inconsolata', arial;
}

.completeButton {
  text-align: center;
  font-size: 1em;
  font-family: 'Inconsolata', arial;
  color: #006666;
}

.main-header {
  background-color: #fff;
}
